@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Nunito", Roboto, system-ui, Tahoma, sans-serif;
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: none;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: #232323;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #f6f6f6;
  padding: 40px 0;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.logo {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}
.logo h1 {
  color: #181818;
  font-size: 24px;
  letter-spacing: 1%;
  text-transform: uppercase;
  font-weight: 800;
}
.logo p {
  color: #7b7b7b;
}
@media (max-width: 710px) {
  .logo h1 {
    font-size: 20px;
  }
}
@media (max-width: 560px) {
  .logo {
    align-items: center;
  }
  .logo p {
    display: none;
  }
}

.button {
  display: inline-block;
  background-color: #fe5f1e;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  border: 1px solid transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
             supported by Chrome, Opera and Firefox */
}
@media (max-width: 460px) {
  .button span {
    font-size: 14px !important;
  }
}
.button,
.button span {
  color: #fff;
}
.button i,
.button span,
.button path,
.button svg {
  transition: all 0.15s ease-in-out;
}
.button:hover {
  background-color: #f24701;
}
.button:active {
  background-color: #de4101;
  transform: translateY(1px);
}
.button--circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  padding: 0;
  border-width: 2px;
}
.button--black {
  background-color: #232323;
}
.button--black:hover, .button--black:active {
  background-color: #3d3d3d;
}
.button--outline {
  background-color: #fff;
  border-color: #fe5f1e;
}
.button--outline,
.button--outline span {
  color: #fe5f1e;
}
.button--outline svg path {
  fill: #fe5f1e;
}
.button--outline:hover {
  background-color: #fe5f1e;
}
.button--outline:hover,
.button--outline:hover span {
  color: #fff;
}
.button--outline:hover svg path {
  fill: #fff;
}
.button--outline:active {
  background-color: #f24701;
}
.button__delimiter {
  width: 1px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-left: 14px;
  margin-right: 14px;
}
@media (max-width: 710px) {
  .button__delimiter {
    display: none;
  }
}
.button--add svg {
  margin-right: 2px;
}
.button--add span {
  font-weight: 600;
  font-size: 16px;
}
.button--add:hover i {
  background-color: #fff;
  color: #fe5f1e;
}
.button--add i {
  display: inline-block;
  border-radius: 30px;
  background-color: #fe5f1e;
  color: #fff;
  font-weight: 600;
  width: 22px;
  height: 22px;
  font-style: normal;
  font-size: 13px;
  line-height: 22px;
  position: relative;
  top: -1px;
  left: 3px;
}
.button--cart {
  display: flex;
  align-items: center;
  line-height: 23px;
  justify-content: center;
}
.button--cart svg {
  margin-right: 8px;
  margin-bottom: 1px;
}
.button--cart span {
  font-weight: 600;
  font-size: 16px;
}

@media (max-width: 710px) {
  .button__sum {
    display: none !important;
  }
}
.categories li {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 9px;
}
.categories li button {
  background-color: #f9f9f9;
  padding: 13px 30px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  border: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
             supported by Chrome, Opera and Firefox */
}
@media (max-width: 1200px) {
  .categories li button {
    padding: 10px 20px;
  }
}
.categories li button:hover {
  background-color: #f4f4f4;
}
.categories li button:active {
  background-color: #ececec;
}
.categories li button.active {
  background-color: #282828;
  color: #fff;
}
@media (max-width: 600px) {
  .categories {
    width: 100%;
    overflow: auto;
  }
  .categories ul {
    width: 635px;
  }
  .categories b {
    font-size: 14px;
  }
  .categories button {
    padding: 10px 15px;
    font-size: 14px;
  }
}

.sort {
  position: relative;
}
.sort__label {
  display: flex;
  align-items: center;
}
.sort__label__icon {
  margin-right: 8px;
}
.sort__label b {
  margin-right: 8px;
}
.sort__label button {
  color: #fe5f1e;
  border-bottom: 1px dashed #fe5f1e;
  cursor: pointer;
}
.sort__popup {
  position: absolute;
  right: 0;
  transform: rotateX(90deg);
  transform-origin: 0 0;
  margin-top: 15px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;
  width: 160px;
  opacity: 0;
  transform: translateY(50px) scale(0);
  transition: transform, opacity 0.3s linear;
}
.sort__popup.active {
  opacity: 1;
  transform: translateY(0px) scale(1);
}
.sort ul {
  overflow: hidden;
}
.sort ul button {
  padding: 12px 20px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.sort ul button.active, .sort ul button:hover {
  background: rgba(254, 95, 30, 0.05);
}
.sort ul button.active {
  font-weight: bold;
  color: #fe5f1e;
}

.pizza-block {
  width: 280px;
  text-align: center;
}
.pizza-block__title {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1%;
  margin-bottom: 20px;
}
.pizza-block__selector {
  display: flex;
  background-color: #f3f3f3;
  border-radius: 10px;
  flex-direction: column;
  padding: 6px;
}
.pizza-block__selector ul {
  display: flex;
  flex: 1;
}
.pizza-block__selector ul:first-of-type {
  margin-bottom: 6px;
}
.pizza-block__selector ul li {
  flex: 1 1;
}
.pizza-block__selector ul button {
  padding: 8px;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
  font-size: 14px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
             supported by Chrome, Opera and Firefox */
}
.pizza-block__selector ul button.active {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  cursor: auto;
}
.pizza-block__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.pizza-block__price {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.015em;
}

.footer {
  background-color: #f1eee8;
}
@media (max-width: 600px) {
  .footer .logo {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .footer .logo h1 {
    font-size: 19px;
  }
}
@media (max-width: 1015px) {
  .footer .logo p {
    display: none;
  }
}
.footer__container {
  width: 100% !important;
}
.footer__inner {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-items: center;
  align-items: start;
  gap: 10px;
  padding: 20px 0px;
}
@media (max-width: 800px) {
  .footer__inner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 60px 14px;
    padding: 24px 0px 40px;
  }
  .footer__inner .footer__contacts {
    grid-column: 3 span;
  }
}
@media (max-width: 600px) {
  .footer__inner {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    text-align: center;
  }
  .footer__inner .footer__contacts {
    grid-column: 1;
  }
}
.footer__menu ul {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  padding: 10px 0;
  text-align: center;
}
.footer label {
  display: block;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 15px;
}
.footer .footer__contacts label {
  text-transform: uppercase;
  font-size: 17px;
}
.footer .footer__contacts__messengers {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 13px 10px;
  margin: 0 auto;
}
.footer .footer__contacts__messengers a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  padding: 5px 20px;
  box-shadow: rgba(56, 55, 54, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.footer .footer__contacts__messengers a:last-of-type {
  grid-column: span 2;
}

body,
html {
  background-color: #ffdf8c;
  width: 100%;
  height: 100%;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
}

@media (max-width: 1015px) {
  h1 {
    font-size: calc(20px + 5 * (100vw - 300px) / 715) !important;
  }
  h2 {
    font-size: calc(27px + 9 * (100vw - 300px) / 715) !important;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 100px);
  min-height: 100%;
  background-color: #fff;
  margin: 50px auto;
  max-width: 1560px;
  border-radius: 10px;
}
@media (max-width: 600px) {
  .wrapper {
    width: calc(100vw - 50px);
  }
}

.footer {
  width: 100%;
}

.main {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
}

.content {
  padding: 40px 0 100px;
  width: 100%;
}
.content__error {
  margin: clamp(100px, 12.98vw, 200px) auto;
  max-width: 560px;
  text-align: center;
}
.content__error h2 {
  font-size: clamp(30px, 2.92vw, 45px);
  margin-bottom: 40px;
}
.content__error p {
  font-size: 22px;
  line-height: 145.4%;
  letter-spacing: 0.01em;
  color: #232323;
  font-weight: 400;
}
.content__title {
  margin: 35px 0;
}
.content__items {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 65px 40px;
  justify-items: center;
}
@media (max-width: 1400px) {
  .content__items {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width: 1015px) {
  .content__items {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 710px) {
  .content__items {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .content__items article {
    width: 60%;
  }
}
@media (max-width: 560px) {
  .content__items article {
    width: 80%;
  }
}
@media (max-width: 460px) {
  .content__items article {
    width: 100%;
  }
}
.content__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1015px) {
  .content__top {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 600px) {
  .content__top {
    gap: 35px;
  }
}

.container {
  margin-inline: auto;
  padding-inline: 40px;
}
.container--basket, .container--card {
  width: 100%;
  padding-inline: 40px;
}
.container--basket .content__title, .container--card .content__title {
  margin: 0;
}

.basket__top {
  display: flex;
  align-items: center;
  margin: 30px 0px 50px;
  justify-content: space-between;
}
.basket__title {
  margin: 0;
}
.basket .content__title {
  display: flex;
  align-items: center;
  font-size: 32px;
}
.basket .content__title svg {
  position: relative;
  top: -2px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.basket .content__title svg path {
  stroke: #232323;
  stroke-width: 1.9;
}
.basket__clear {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
             supported by Chrome, Opera and Firefox */
}
.basket__clear span {
  display: inline-block;
  margin-left: 7px;
  color: #b6b6b6;
  font-size: 18px;
}
.basket__clear span,
.basket__clear svg,
.basket__clear path {
  transition: all 0.15s ease-in-out;
}
.basket__clear:hover svg path {
  stroke: #373737;
}
.basket__clear:hover span {
  color: #373737;
}
@media (max-width: 460px) {
  .basket__clear svg {
    width: 33px;
    height: 33px;
  }
  .basket__clear span {
    display: none;
  }
}
.basket__item {
  display: flex;
  align-items: center;
  width: 100%;
  border-top: 1px solid #f6f6f6;
  margin-bottom: 50px;
  justify-content: space-between;
  position: relative;
}
.basket__item-img {
  width: 7%;
}
.basket__item-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 244px;
}
.basket__item-info h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.01em;
}
.basket__item-info p {
  font-size: 18px;
  color: #8d8d8d;
}
.basket__item-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.basket__item-count-minus svg path:first-of-type {
  display: none;
}
.basket__item-count b {
  font-size: 22px;
}
.basket__item-price {
  display: flex;
  align-items: center;
  justify-content: center;
}
.basket__item-price b {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0.01em;
}
.basket__item-remove {
  border-color: #dddddd;
}
.basket__item-remove:hover, .basket__item-remove:active {
  border-color: #2a2a2a;
  background-color: #2a2a2a;
}
.basket__item-remove svg {
  transform: rotate(45deg);
}
.basket__item-remove svg path {
  fill: #d0d0d0;
}
.basket__item-remove .button svg {
  width: 11.5px;
  height: 11.5px;
  position: relative;
}
@media (max-width: 710px) {
  .basket__item {
    gap: 30px;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .basket__item-img {
    width: 50%;
  }
  .basket__item-remove {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.basket__bottom-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basket__bottom-details span {
  font-size: 22px;
}
.basket__bottom-details span:last-of-type b {
  color: #fe5f1e;
}
@media (max-width: 560px) {
  .basket__bottom-details {
    flex-direction: column;
    gap: 20px;
  }
}
.basket__bottom-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.basket__bottom-buttons .go-back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  border-color: #dddddd;
}
.basket__bottom-buttons .go-back-btn span {
  color: #c3c3c3;
  font-weight: 500;
  font-weight: 600;
}
.basket__bottom-buttons .go-back-btn:hover {
  background-color: #111111;
  border-color: #111111;
}
.basket__bottom-buttons .go-back-btn:hover span {
  color: #f6f6f6;
}
.basket__bottom-buttons .go-back-btn svg {
  margin-right: 12px;
}
.basket__bottom-buttons .go-back-btn svg path {
  fill: transparent;
  stroke-width: 2;
}
.basket__bottom-buttons .pay-btn {
  font-size: 16px;
  font-weight: 600;
  width: 210px;
  padding: 16px;
}
@media (max-width: 560px) {
  .basket__bottom-buttons {
    gap: 40px;
    flex-direction: column-reverse;
  }
}
.basket--empty {
  margin: clamp(100px, 12.98vw, 200px) auto;
  max-width: 560px;
  text-align: center;
}
.basket--empty h2 {
  font-size: clamp(30px, 2.92vw, 45px);
  margin-bottom: 40px;
}
.basket--empty p {
  font-size: 22px;
  line-height: 145.4%;
  letter-spacing: 0.01em;
  color: #232323;
  font-weight: 400;
}
.basket--empty icon {
  position: relative;
  top: 2px;
}
.basket--empty img {
  display: block;
  width: 300px;
  margin: 45px auto 60px;
}
.basket--empty .button--black {
  padding: 12px 0 14px;
  width: 230px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
}/*# sourceMappingURL=app.css.map */